extends layout.pug 

block content 
   div(id= "game-container")
      div(id= "game-container-content")
         div(id= "game-img")
            img(src= src=game.image_url)
         div(id= "game-title")
         div(id= "game-info-container")
            div(id= "description")
            div(id= "rating")
            div(id= "extra-info")