extends layout.pug

include utils.pug

append head 
    link(rel="stylesheet" href="/stylesheets/gameshelves-edit.css")
    
block content
    div(id= "gameshelves-edit-container")
        div(id= "gameshelves-title") Game Shelves
        div(id= "shelf-container")
            each shelf in gameshelves
                div(id= "shelf") shelf