extends layout.pug

include utils.pug

append head 
    link(rel="stylesheet" href="/stylesheets/gameshelves-edit.css")
    script(src="/javascripts/index.js")

block content
    div(id= "gameshelves-edit-container")
        div(id= "gameshelves-title") Game Shelves
        div(id= "shelf-container")
            each shelf in gameshelves
                unless shelf.id > 10
                    div(id= "shelf")= shelf.title

    //- if (!["Currently Playing", "Want to Play", "Played"].includes(customShelf.title))
                           
