extends layout.pug 

block content 
   div(id= "game-container")
      div(id= "game-img")
         img(src= src=game.image_url)
      div(id= "game-title")= game.name
      div(id= "description-container")
         div(id= "description-title") Description
         div(id= "description")= game.description
      