extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)


block content

  div(class="scroll")
    ul(class="menu")
      each game in fps
        div(class="game")
          div(class="gameImg")
            a(href='/users/login')
              img(src=`${game.image_url}` width="230" height="250")
          div(class="title" width="230")= game.name
          //- div(class="description")= game.description
        //- li(class="item")= game.image_url
    //- div(class="arrows")
    //-   button(class="left-arrow arrow hidden")= "<"
    //-   button(class="right-arrow arrow hidden")= ">"

