extends layout.pug

include utils.pug

append head 
  link(rel="stylesheet" href="/stylesheets/login.css")

block content
  div(id="login-container")
    div(id="errors-container")
      +validationErrorSummary(errors)
    div(class="form-container")
      form(action='/users/login' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email Address', 'email', email)
        +field('Password', 'password', null, 'password')
        div(class='py-4')
          button(type='submit' id='login-button') Login
          a(href='/' class='btn btn-warning ml-2') Cancel
        form(action='/users/login' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          input(type='hidden' name='email' value='demo@gmail.com')
          input(type='hidden' name='password' value='123')
          button(type='submit' class='btn btn-primary') Demo Login
      div
        p: a(href='/users/sign-up') Don't have an account?
