extends layout.pug

append head
   link(rel="stylesheet" href="/stylesheets/profile.css")


block content
   div(id="profile-container")
      div(id="profile-info")
         h3= `${user.username}'s Profile`
         p= `Member Since: ${user.createdAt}`
   div(id="gameshelves-container")
      h3 Game Shelves:
      h4 More...
      div(id="buttons")
      each shelf in gameshelves
         //- div(style="text-align: center")
         button(href=`/gameshelves/${shelf.id}` id="button" type="button")= `${shelf.title}`
   div(id="reviews-and-container")
      h2 Reviews
      div(id="reviews-container")
