body {
    font-family: "Bungee Inline";
}

#gameshelves-container {
    background-color: #FDF2E9;
    /* opacity: .68; */
    border: solid lightpink;
    border-radius: 10px;
    /* padding: 40px; */
    margin: 50px;
    margin-top: 85px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "shelves-list games";
}

div.gameshelves-list {
    grid-area: shelves-list;
    border-right: 1px solid lightpink;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 24px;
    padding: 0 25px 25px 25px;
    margin-top: 50px;
}

div.gameshelves-list li {
    font-size: 18px;
    padding: 10px;
    padding-left: 25px;
    list-style: none;
}

div.games-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    
}

.game {
    border: 2px solid grey;
    min-height: 100px;
    min-width: 50px;
    max-height: 200px;
    max-width: 150px;
    margin-top: 50px; 
    margin: 50px;
    /* padding: 0px; */
}
