body {
   font-family: "Bungee Inline", "Bungee";
}

h5 {
   font-family: "Bungee Inline", "Bungee";
}

h3 {
   font-family: "Bungee Inline", "Bungee";
}

/* body {
   font-family: "Bungee", "Bungee Inline" ;
}

h5 {
   font-family: "Bungee", "Bungee Inline" ;
}

h3 {
   font-family: "Bungee", "Bungee Inline" ;
} */


#gameshelves-container {
   background-color: #FDF2E9;
   /* opacity: .68; */
   border: solid lightpink;
   border-radius: 10px;
   /* padding: 40px; */
   margin: 50px;
   margin-top: 85px;
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-areas:
   "shelves-list games";
}


div.gameshelves-list {
   grid-area: shelves-list;
   border-right: 1px solid lightpink;
   display: flex;
   flex-direction: column;
}

div.gameshelves-list h3 {
   font-size: 24px;
   padding: 0 25px 25px 25px;
   margin-top: 50px;
}

div.gameshelves-list ul {
   margin-left:25px;
}

/* #form-container {
   padding-bottom: 25px;
} */

div#edit-shelves a {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 2px;
}

#errors-container {
   color: lightcoral;
   margin-bottom: 5px;
}

#errors-container li {
   font-size: 12px;
}

.login-button {
   font-family: "Bungee Inline", "Bungee";
   background-color: #fff;
   border: #3C3D47 solid 1px;
   font-size: 14px;
   padding: 3px 10px;
   border-radius: 5px;
   margin-left: 5px;
}

.gameshelves-list li {
   font-size: 18px;
   padding: 5px 0px;
   /* padding-left: 25px; */
   list-style: none;
}

#newshelf-form {
   /* border-top: 2px solid rgba(0, 0, 0, 0.30); */
   border-bottom: 2px solid rgba(0, 0, 0, 0.30);
   margin: 0px 25px;
   /* padding: 25px 0px; */
   padding-bottom: 30px;
   margin-bottom: 25px;
}

#create-new-shelf-label {
   width:100%;
   /* margin-left:25px */
   
}

#create-new-shelf-container {
   display: flex;
   height: 25px;
   /* margin: 0px 25px; */
}
#create-new-shelf-container button{
   display: flex;
   justify-content: center;
   align-items: center;
}
/* ------------------------------------------------------------------- */
.games-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr) ;
   grid-template-rows: auto;
}

.all-games-container {
   display: grid;
   grid-template-columns: 1fr ;
   grid-template-rows: auto;
}

#shelf-title {
   border: 2px solid black;
   margin: 25px;
   padding: 10px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   /* color: black; */
   /* background-color:linear-gradient(#29292f 0%, #232327 100%); */
   background-color: #3C3D47;
   background: linear-gradient(#3c3d47 0%, #232327 100%);
   color: white;
   font-family: "Bungee";
}
#all-games {
   border: 2px solid black;
   /* padding: 25px 0px; */
   margin: 25px;
   display:grid;
   grid-template-columns: 1fr 3fr 1fr;
   grid-template-rows: auto;
   grid-template-areas: 
   "title description-title options-title "
   "img description options-container ";
   background-color: white;
}

#all-game-name {
   grid-area: title;
   border: 2px solid black;
   display: flex;  
   justify-content: center;
   align-items: center;
   margin: 0px 20px;
   font-size: 15px;
   min-width: 100px;
   border-top: hidden
}


#all-gameshelf-game-img {
   grid-area: img;
   display: flex;  
   justify-content: center;
   align-items: center;
}

#all-image-id {
   max-height: 400px;
   max-width: 200px;
   margin: 0;
}

#all-game-description-container {
   grid-area: description-title;
   border: 2px solid black;
   display: flex;  
   justify-content: center;
   align-items: center;
   margin: 0px 20px;
   font-size: 15px;
   min-width: 100px;
   border-top: hidden
}

#all-game-description {
   grid-area: description;
   margin: 10px 20px;
}

#all-game-description-developers, #all-game-description-platforms, #all-game-description-released {
   font-family: Arial, Helvetica, sans-serif;
}

#all-game-options {
    grid-area: options-title;
    border: 2px solid black;
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    font-size: 15px;
    min-width: 100px;
    border-top: hidden
}

#all-game-options-container {
   grid-area: options-container;
   /* border: 2px solid black; */
   
}

/* #all-game-options-bookshelf {
   grid-area: gameshelf;
} */
#all-games-forms {
   display: flex;  
   flex-wrap: wrap;
   justify-content: center;
}

#all-game-options-bookshelf {
   /* border: 2px solid black; */
   display: flex;  
   flex-wrap: wrap;
   justify-content: center;
   /* align-items: center; */
   margin: 0px 20px;
   font-size: 15px;
   padding-bottom: 15px;
   min-width: 100px;
   padding-top: 15px;;
}

#add-gameshelf-button {
   font-family: "Bungee";
   font-size:10px;
}

#delete-from-gameshelf-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

#delete-game-from-gameshelf-form {
   display: flex;
   justify-content: center;
   align-items: center;
   /* margin: 0 50px; */
   /* width:100%; */
}

#delete-from-gameshelf {
   font-family: "bungee";
   font-size:10px;
   width: 165px   
}
