#gameshelves-edit-container {
   background-color: #FDF2E9;
    border: solid lightpink;
    border-radius: 10px;
    margin: 50px;
    margin-top: 85px;
}

#gameshelves-title {
  font-family: "Bungee", "Bungee Inline";
  font-size: 49px;
  margin: 40px;
  padding-left: 20px;
  background-color: #FDF2E9
}

#shelf-container {
  margin: 40px;
}

#shelf, #custom-shelf {
  font-family: "Bungee", "Bungee Inline";
  background-color: white;
  border: 1px solid lightpink;
  font-size: 25px;
  padding: 25px;
  margin: 20px;
  box-shadow: -1px 1px 3px 3px rgba(124, 123, 123, 0.1);
  display: flex;
}

#custom-shelf {
  position: relative;
  display: flex;
  align-items: center;
}

.save-btn {
  display: none;;
}

.delete-btn {
  position: absolute;
  right: 25px;
  text-align: center;
}

#rename-btn {
  margin: 8px 0 0 0;
} 

button {
  font-family: "Bungee","Bungee Inline" ;
  background-color: #EFEFEF;
  border: #3C3D47 solid 1px;
  font-size: 11px;
  padding: 0 5px;
  border-radius: 5px;
  margin-left: 16px;
}

button:hover {
  background-color: #e2e2e2;
}

#rename-container {
  display: flex;
  align-items: center;
}


