#game-container {
   background-color: #FDF2E9;
   border: solid pink;
   border-radius: 10px;
   padding: 60px;
   margin: 100px;
   margin-top: 85px;
   display: grid;
   column-gap: 20px;
   row-gap: 25px;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto;
   grid-template-areas: 
   "image image title title title"
   "image image description description description"
   "gameshelf gameshelf description description description"
   "review review review review review"
}

#game-img {
   grid-area: image;
   /* max-height: 800px; */
   /* width: 100%; */
}

#game-img img{
   object-fit: contain;
   height: 450px;
   /* height: 100%; */
   width: 100%; 
}

#gameshelf-dropdown {
   grid-area: gameshelf
}

#game-title {
   grid-area: title;
   width: 100%;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 3px solid black;
   font-family: "Bungee";
   font-size: 27px;
   /* padding: 20px; */
}

#game-score {
   border: 3px solid black;
   border-radius: 50%;
   height: 50px;
   width: 50px;
   font-family: "Bungee";
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   margin: 0 5px;
}

#description-container {
   grid-area: description;
   width: 100%;
   background-color: white;
   border: 3px solid black;
   padding: 20px;
}

#description-title {
   font-family: "Bungee";
}

#description, #year-released, #developer, #platforms, #genre {
   font-family: Arial, Helvetica, sans-serif;
}

#year-released-title, #developer-title, #platforms-title, #genre-title {
   font-family: "Bungee";
}

#reviews {
   grid-area: review;
   width: 100%;
   background-color: white;
   border: 2px solid black;
   font-family: "Bungee";
   padding: 15px 30px;
}

#reviews-title {
   font-size: 25px;
   margin: 0 9px;
}

#game-review{
   font-family: Arial, Helvetica, sans-serif;
   border: 2px solid black;
   border-radius: 5px;
   margin: 30px 5px;
   padding: 25px;
   box-shadow: -1px 1px 5px 5px rgba(124, 123, 123, 0.2);
}

#my-review {
   font-family: "Bungee";
   margin: 0 5px;
   border-bottom: 3px solid black;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

#my-review-title {
   font-size: 20px;
   grid-column-start: 1;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

#edit-button-container{
   grid-column-start: 2;
   display: flex;
   justify-content: flex-end;
}

#edit-button {
   font-family: "Bungee";
   margin: 5px 0;
}

#edit-button-link {
   text-decoration: none;
}

#review-title-container {
   display: flex;
   align-items: center;
   margin-top:5px;
   /* border: 3px solid black; */
}

#review-title {
   font-family: "Bungee";
   display: flex;
   align-items: center;
}

#review-score {
   border: 3px solid black;
   border-radius: 50%;
   height: 35px;
   width: 35px;
   font-family: "Bungee";
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   margin: 0 5px;
}

#pros-and-cons {
   font-family: "Bungee";
   display: flex
}

#pro-title {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   margin-left: 5px;
}

#pro-description{
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 5px;
   margin-right: 5px;
}

#con-title {
   display: flex;
   /* justify-content: center; */
   align-items: center;
}

#con-description {
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 5px;
}

#review-description-container {
   padding-bottom: 15px;
   padding-top: 5px;
   /* margin: 0 5px; */
   /* border: 2px solid black;
   border-radius: 5px; */
}

#review-description {
   margin: 0 5px;
}

#review-game {
   font-family: "bungee";
   margin: 0 7px 7px 7px;
}

#review-game-link {
   text-decoration: none;
}

#log-in-to-review {
   font-family: "bungee";
   margin: 7px;
}

#log-in-to-review-link {
   font-family: "bungee";
   margin: 7px;
   text-decoration: none;
}