body {
    background-color: #f9d5bb;
    font-family: "Bungee Inline";
}

div.homepage_container {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

div.genre_title {
    /* justify-content: center; */
    margin-left: 120px;
    border-bottom: 10px solid lightcoral;
    width: 80px;
}

h2 {
    font-family: "Bungee Inline";
    font-size: 40px;
}

div.scroll {
    margin:  20px 120px 60px 120px;
    padding: 20px;
    background-color: #fdf2ea;
    overflow: auto;
    white-space: nowrap;
}

div.scroll div.game {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.gameImg {
    max-height: 200px;
    max-width: 150px;
    float: inherit;
    /* margin: 10px; */
}

div.title {
    background-color: darkgray;
    width: 150px;
    max-height: 100px;
    padding: 1px;
    /* text-wrap: ; */
    /* overflow: scroll; */
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
    word-wrap: break-word;
    max-width: 150px;
    font-size: 12px;
}
