html {
    scroll-behavior: smooth;
}

#profile-info {
    font-family: "Bungee", "Bungee Inline" ;
    background-color: #FDF2E9;
    border: solid pink;
    border-radius: 10px;
    padding: 60px;
    margin: 100px 100px 35px 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "greeting game-shelves"
}

#greeting h2 {
    height: 70px;
    grid-area: "greeting";
    font-size: 30px;
    width: fit-content;
    border-bottom: 10px solid #F66767;
}

#user-info {
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 15px 20px 0 0;
    padding: 5px 25px 25px 25px;
    box-shadow: -1px 1px 5px 5px rgba(124, 123, 123, 0.1);
    height: 79%;
}

#gameshelves-container {
    font-family: "Bungee", "Bungee Inline" ;
    grid-area: "game-shelves";
    display: grid;
    justify-content: flex-end;
}

div#gameshelves-title {
    height: 70px;
    border-bottom: 10px solid #F66767;
    width: fit-content;
    margin-bottom: 5px;
    margin-left: 45px;
}

#gameshelves-title a{
    font-family: "Bungee", "Bungee Inline" ;
    font-size: 30px;
    width: fit-content;
    text-decoration: none;
}

#gameshelves-title a:hover {
    color: #3C3D47;
    transition-duration: 0.2s;
}

div#gameshelves-title:hover {
    border-bottom: 10px solid #3C3D47;
    transition-duration: 0.2s;
}

div.scroll {
    overflow-y: scroll;
    height: 250px;
    max-width: 340px;
    overflow-x: hidden;
    overflow: scroll;
}

div.scroll div.game {
    background-color: #3C3D47;
    margin: 10px 15px 5px 15px;
    border: 1px solid #3C3D47;
    border-radius: 10px;
    color: whitesmoke;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    min-width: 300px;
    box-shadow: 1px 2px 3px rgba(33,33,33,.4); 
}

.game:hover {
    box-shadow: 0 0 2px #3C3D47;
    text-shadow: 0 0 1px lightpink;
    transform: scale(1.1, 1.1);
    transition-duration: 0.1s;
    box-shadow: 1px 1px 11px rgba(33,33,33,.2); 
}

.title a {
    text-decoration: none;
}

#reviews-container {
    border: solid pink;
    background-color: #FDF2E9;
    border-radius: 10px;
    padding: 40px;
    margin: 10px 100px 100px 100px;
}

#reviews-container h2 {
    height: 70px;
    font-family: "Bungee", "Bungee Inline" ;
    font-size: 30px;
    margin: 20px 20px 0 20px;
    border-bottom: 10px solid #F66767;
    width: fit-content;
}

#user-review-container {
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 15px 20px 30px 20px;
    padding: 0 25px 25px 25px;
    box-shadow: -1px 1px 5px 5px rgba(124, 123, 123, 0.2);
}

#review-title-container a {
    font-family: "Bungee", "Bungee Inline" ;
    margin: 0 5px;
    font-size: 20px;
    text-decoration: none;
}

#circle {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 14px 40px;
    background-color: white;
    margin-left: 100px;
    width: 175px;
}

#review-title-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

#review-title-container a:hover, #num-reviews-container a:hover {
    color: #F66767;
    transition-duration: 0.2s;
}

#review-score {
    border: 3px solid black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-family: "Bungee", "Bungee Inline" ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 0 5px;
}

#review-game-name {
    padding: 13px 0;
    font-family: "Bungee", "Bungee Inline" ;
}

#pros-and-cons {
   font-family: "Bungee Inline", "Bungee";
   display: flex;
   padding: 0 0 10px 0;
}

#pro-title {
   display: flex;
   align-items: center;
   margin-left: 5px;
}

#pro-description{
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 5px;
   margin-right: 5px;
}

#con-title {
   display: flex;
   align-items: center;
}

#con-description {
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 5px;
}

#review-description-container {
   padding-bottom: 15px;
   padding-top: 5px;
}

#review-description {
   margin: 0 5px;
}

#scroll-top {
   float: right;
   font-family: "Bungee", "Bungee Inline" ;
}

#scroll-top a:hover {
    color: #F66767;
    text-decoration: none;
}