h1 {
    color: red;
}

div#profile-container h3 {
    font-size: 36px;
}

#profile-info {
    background-color: #FFF;
    opacity: .68;
    border: solid pink;
    border-radius: 10px;
    padding: 40px;
    margin: 50px;
    margin-top: 85px;
 }

#gameshelves-container {
    font-family: "Bungee Inline";
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

div#genre-title {
    margin: auto;
    border-bottom: 10px solid #F66767;
    width: fit-content;
}

h2 {
    font-family: "Bungee Inline";
    font-size: 60px;
    margin: auto;
    border-bottom: 10px solid #F66767;
    width: fit-content;
    text-decoration: none;
}

h3 a{
    font-family: "Bungee Inline";
    font-size: 60px;
    margin: auto;
    border-bottom: none;
    width: fit-content;
    text-decoration: none;
}

div#genre-title:hover {
    border-bottom: 10px solid #3C3D47;
}

div.scroll {
    margin:  20px 120px 60px 120px;
    padding: 20px;
    background-color: #fdf2ea;
    overflow: auto;
    white-space: nowrap;
    border: 2px solid #52535f;
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px 10px rgba(160, 160, 160, 0.6);
}

div.scroll div.game {
    background-color: #3C3D47;
    margin: 5px 15px 5px 15px;
    border: 1px solid lightpink;
    border-radius: 10px;
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#reviews-and-container {
    font-family: "Bungee Inline";
}

#reviews-container {
    font-family: "Bungee Inline";
    background-color: #FFF;
    opacity: .68;
    border: solid pink;
    border-radius: 10px;
    padding: 40px;
    margin: 50px;
    margin-top: 20px;
}

#circle {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 14px 40px;
    background-color: white;
    margin-left: 100px;
    width: 175px;
}

#white-background {
    background-color: white;
}
