#review-container {
   background-color: #FDF2E9;
   /* opacity: .68; */
   border: solid pink;
   border-radius: 10px;
   padding: 60px;
   margin: 85px 100px 100px 100px;
   display: flex;
   justify-content: center;
}

#review-form {
   display: grid;
   grid-template-areas:
   "title title title title"
   "gameshelf score pros cons"
   "reviewTitle reviewTitle reviewTitle reviewTitle"
   "review review review review"
   ". . . submit";
   grid-template-columns: repeat(4, 1fr);
}

#game-review-title-container {
   grid-area: title;
   background-color: white;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Bungee";
}

#game-review-title {
   font-size: 27px;
}

#game-review-score-container {
   grid-area: score;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0px;
   border: 2px solid black;
   font-size: 15px;
   font-family: "Bungee";
   background-color: white;
   border-radius: 10px;
}

#gameshelf-options-container {
   grid-area: gameshelf;
   display: flex;
   align-items: center;
   margin: 10px;
   margin-left: 0px;
   border: 2px solid black;
   font-size: 15px;
   font-family: "Bungee";
   background-color: white;
   border-radius: 10px;
   padding: 5px;
}

#gameshelf-options-container label,
#game-review-score-container label,
#pro-options-container label,
#con-options-container label { 
    padding-right: 5px;
 }

#pro-options-container {
   grid-area: pros;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   border: 2px solid black;
   font-size: 15px;
   font-family: "Bungee";
   background-color: white;
   border-radius: 10px;
}

#pro-options, #con-options {
   max-width: 150px;
}

#con-options-container {
   grid-area: cons;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   margin-right: 0px;
   border: 2px solid black;
   font-size: 15px;
   font-family: "Bungee";
   background-color: white;
   border-radius: 10px;
}  

#review-page-title-container {
   grid-area: reviewTitle;
   border: 2px solid black;
   border-bottom: 0px;
   font-size: 15px;
   font-family: "Bungee";
   background-color: white;
}

#review-page-title-container label {
   padding: 0 5px;
}

#review-page-title-container input {
   min-width: 500px;
}

#review-input-container {
   grid-area: review;
}

#review-text {
   resize: none;
   width: 100%;
   height: 300px;
   border: 2px solid black;
   padding: 20px;
}

#submit-review {
   border: 2px solid black;
   margin-top: 5px;
   font-family: "Bungee", "Bungee Inline";
   padding: 10px;
   font-size: 15px;
   max-width: 300px;
}


#submit-btn {
   grid-area: submit;
   display: flex;
   justify-self: flex-end;
}

#submit-review:hover {
   background-color: rgb(226, 222, 222);
}