#review-container {
   background-color: #FDF2E9;
   /* opacity: .68; */
   border: solid pink;
   border-radius: 10px;
   padding: 60px;
   margin: 100px;
   margin-top: 85px;
}

#game-review-title-container {
   background-color: white;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   font-family: "Bungee";
}