#review-container {
   background-color: #FDF2E9;
   /* opacity: .68; */
   border: solid pink;
   border-radius: 10px;
   padding: 60px;
   margin: 100px;
   margin-top: 85px;
}

#review-form {
   margin:0 200px;
   display: grid;
   grid-template-areas:
   "title title title title"
   "gameshelf score pros cons"
   "reviewTitle reviewTitle . ."
   "review review review review"
   ". . . submit"
   ;
   grid-template-columns: repeat(4, 1fr);
}

#game-review-title-container {
   grid-area: title;
   background-color: white;
   border: 2px solid black;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Bungee";
}

#game-review-score-container {
   grid-area: score;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0px;
   border: 2px solid black;
   font-size: 15px;
   font-family: "Bungee";
   background-color: white;
   border-radius: 10px;
}

#gameshelf-options-container {
   grid-area: gameshelf;
   display: flex;
   align-items: center;
   margin: 10px;
   margin-left: 0px;
   border: 2px solid black;
   font-size: 15px;
   font-family: "Bungee";
   background-color: white;
   border-radius: 10px;
}

#pro-options-container {
   grid-area: pros;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   border: 2px solid black;
   font-size: 15px;
   font-family: "Bungee";
   background-color: white;
   border-radius: 10px;
}

#con-options-container {
   grid-area: cons;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 10px;
   margin-right: 0px;
   border: 2px solid black;
   font-size: 15px;
   font-family: "Bungee";
   background-color: white;
   border-radius: 10px;
}  

#review-page-title-container {
   grid-area: reviewTitle;
   border: 2px solid black;
   font-size: 15px;
   font-family: "Bungee";
   background-color: white;
   border-bottom: 0px;
}

#review-input-container {
   grid-area: review;
}

#submit-review {
   grid-area: submit;
   border: 2px solid black;
   font-size: 20px;
}

#review-text {
   resize: none;
   width: 100%;
   height: 300px;
   border: 2px solid black;
}